.header_div {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: space-between;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.header_hidden {
  display: none;
}
.header_div svg {
  cursor: pointer;
}
.header_div h1 {
  color: #1976d2;
  font-weight: 800;
  font-size: 35px;
}
.paths {
  display: flex;
  gap: 20px;
}
.paths a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}
.paths .active_link {
  color: rgba(0, 0, 0) !important;
}
.paths .dark_link {
  color: rgba(255, 255, 255, 0.6) !important;
}
.dark_active_link {
  color: white !important;
}
.header_buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_buttons h2{
  color: #1976d2;
}
.navbar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #1976d2;
  background-color: transparent;
  border: 2px solid #1976d2;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
